<% content_for :title do %>About True Self Academy<% end %>
<h3>About the True Self Academy</h3>
<p>
This membership website was designed to be a safe, beautiful, transformational and invaluable mastermind resource center
for spiritual seekers creating magical and joy-filled lives.
</p>
