  <div class="titlebox">
    <div class="innertitlebox">
      <div class="logoimage">
        <%= image_tag "Moniker.png" %>
      </div>
      <div class="sitetitle">
        <h3>True Self Academy</h3>
        <h6>A Beautiful, Transformational & Invaluable Mastermind Resource Center for Spiritual Seekers Creating
            Magical and Joy-Filled Lives</h6>
      </div>
    </div>
    <div class="rainbow">
    </div>
  </div>
</nav>
